<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="gotoStart()" style="cursor:pointer">Rankings</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            <img src="img/liga-bbva.png" aria-hidden="true" style="cursor:pointer">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/liga-adelante.png" aria-hidden="true">
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="!user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
            <strong class="caret"></strong>
          </a>
          <ul class="dropdown-menu">
            <div class="input-group input-group-lg">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form ng-submit="login(user)">
                    <div class="form-group">
                      <label for="username">Usuario</label>
                      <input ng-model="user.username" type="username" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input ng-model="user.password" type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-default pull-right">Iniciar sesión</button>
                  </form>
                </div>
                <a href="register">Registarse</a>
            </div>
          </ul>
        </li>
	<li ng-if="user">
	 <a href="profile" class="dropdown-toggle" data-toggle="dropdown">
	 	{{user.username}}
	 </a>
	 </li>
	      </ul>
	    </div>
	  </div>
	</nav>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <!----------------------------------------- -->


<div class="row">
  <div class="col-md-12 column">
    <div class="panel panel-default">
      <div class="panel-heading">Nuevo ranking</div>
      <div class="panel-body">
	<form ng-submit="uploadData()">
 		<div class="form-group">
 			<label for="exampleInputFile">Fichero de entrada CSV</label>
 			<input id="file" ng-file-select="uploadData($files)" type="file" requierd>
 		</div>
 		<button class="btn btn-default pull-right"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Guardar</button>
 	</form>
      </div>
    </div>
  </div>
</div>
