<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rankings</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            <img src="img/liga-bbva.png" aria-hidden="true">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/liga-adelante.png" aria-hidden="true">
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
            <strong class="caret"></strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <label for="username">Usuario</label>
                      <input type="username" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Iniciar sesión</button>
                  </form>
                </div>
                <a href="register">Registrarse</a>
              </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <!----------------------------------------- -->

<div class="row">
  <div class="col-md-12 column">
      <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  </div>
</div>

<div class="row"></div>

<div class="row">
  <div class="col-md-12 column">
    <div class="panel panel-default">
      <div class="panel-heading">Mis rankings</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Nombre
            <div class="btn-group pull-right" role="group">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
