/*body {
  background-color: #414141;
  height: 100%;
}*/

md-toolbar.md-default-theme {
  background-color: #262626;
  color: #ffffff;
}

#left {
  background-color: #313131;
  height: 100%;
}

span {
  font-size:  1.2em;
  /*font-weight: bold;*/
  color: #ffffff;
  list-style: none;
  padding-top: 10px;
  padding-above: 10px;
}

li {
  list-style: none;
  padding-right: 20px;
}

a > img {
  padding-right: 20px;
  padding-left: 20px;

}

#logo {
  line-height: 60px;
  text-indent: 1px;
}

#panel-historico {
  width: 95% !important;
}

#cy {
  height: 95% !important;
  position: absolute;
  width: 96.5% !important;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-color: #ddd;
}
