body {
  background-color: #414141;
  padding-top: 70px;
  height: 100%;
}
.navbar {
  border-radius: 0px;
}
.nav-pills>li>a {
  border-radius: 0px;
}
.nav-stacked {
  position: fixed;
  margin-top: -10px;
  margin-left: -90px;
  background-color: #313131;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.nav-stacked ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-stacked ul li a {
  padding: 20px;
}
.nav-stacked>li+li {
  margin-top: 0px;
}
.table td {
  text-align: center;
}
.table th {
  text-align: center;
}
.panel {
  border-radius: 0px;
}
.panel-body {
  padding: 20px;
}
#panel-historico {
  width: 100%;
}
#panel-grado {
  width: 100%;
}
#panel-radar {
  padding: 15px;
}
#cy {
  height: 50em;
  position: relative;
  margin: 0%;
  width: 100%;
}
h1 {
  color: #fff;
  text-align: center;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
